altair==5.5.0
asttokens
attrs
beautifulsoup4
blinker
Brotli
cachetools
category_encoders
causal-learn
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
contourpy
cycler
decorator
et-xmlfile
exceptiongroup
executing
Flask
Flask-Compress
fonttools
gitdb
GitPython
graphviz
h2
hiplot
hpack
hyperframe
idna
imbalanced-learn
importlib-metadata
importlib-resources
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
lightgbm
llvmlite==0.43.0
MAPIE
markdown-it-py
MarkupSafe
matplotlib==3.9.4
matplotlib-inline
mdurl
git+https://github.com/deanbodenham/momentchi2py.git#egg=momentchi2
munkres==1.1.4
narwhals
networkx
numba
numpy==2.0.2
openpyxl
packaging
pandas
parso
patsy
pickleshare
pillow
pkgutil-resolve-name
prompt-toolkit
protobuf==5.28.3
pure-eval
pyarrow==19.0.0
pycparser
pydeck
pydot
Pygments
pyparsing
PySide6==6.8.1
PySocks
python-dateutil
pytz
PyYAML
referencing
requests
rich
rpds-py
scikit-learn==1.5.2
scipy==1.13.1
seaborn
shap
shiboken6==6.8.1
six
sklearn-quantile
slicer
smmap
soupsieve
stack-data
statsmodels
streamlit>=1.14.0
tenacity
threadpoolctl
toml
tornado
tqdm
traitlets
typing-extensions
tzdata
tzlocal
unicodedata2
urllib3
watchdog
wcwidth
Werkzeug
win-inet-pton
xgboost
zipp
zstandard==0.23.0
